**/.DS_Store
/.venv
/.vscode
/synthetic_delta/
/synthetic_theta/
/synthetic_old/
/develop_jornal.md
/mixer
/src/utils_cpp/mixer
/systems/
/data/
**/__pycache__/
**/.ipynb_checkpoints/
/src/PANDA.egg-info
substrates/calcite/gro
substrates/calcite/itp
**/slurm*
